html, body{
	width: 100%;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	width: 100%;
	height: 1.16rem;
	background-color: #91d4da;
	align-items: center;
}

.back-button {
	position: absolute;
	display: flex;
	padding: 0.5rem;
	align-items: center;
}

.back-button img {
	display: inline-flex;
	height: 0.5rem;
}

.back-button div {
	display: inline-flex;
	box-flex: 1;
	margin-left: 1rem;
	font-size: 12px;
	color: white;
}

header .title {
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.nav-1 .nav-title {
	width: 100%;
	height: 1.18rem;
	display: flex;
	justify-content: space-between;
}

.nav-1 .nav-title div {
	display: inline-flex;
	width: 25%;
	text-align: center;
}

.nav-1 .nav-title div:nth-child(2) {
	border-bottom: 0.01rem solid #8dd7d6;
}

.nav-1 .nav-title a {
	width: 100%;
	padding: 0.22rem;
	font-size: 12px;
}

.nav-1 .image {
	width: 100%;
	height: 5.5rem;
	background-image: url(https://raw.githubusercontent.com/miraclezys/IFE/master/academy_weiwei/image/longmao.jpg);
	background-size: cover;
}

.nav-2 {
	width: 100%;
	padding: 0;
	text-align: center;
}

.nav-2 > div {
	display: inline-block;
	width: 16.3%;
	margin: 0.46rem 0;
	text-align: center;
}

.nav-2 img {
	width: 70%;
	height: 70%;
}

.nav-2 p {
	width: 100%;
	text-align: center;
	font-size: 12px;
}

.nav-3 {
	margin: 0 0.3rem;
	border-top: .01rem solid #e2e2e2;
	text-align: center;
}

.nav-3 div {
	display: inline-block;
	width: 30%;
	margin: 0.6rem 0;
}

.nav-3 div:nth-of-type(2) {
	border-left: .01rem solid #e2e2e2;
	border-right: .01rem solid #e2e2e2;
}

.nav-3 img {
	width: 70%;
	height: 70%;
}

.nav-3 div > p:nth-of-type(1) {
	margin-bottom: 0;
	font-size: 12px;
}

.nav-3 div > p:nth-of-type(2) {
	margin: 0;
	font-size: 12px;
	color: #5b5b5b;
}

table, tr{
	border-collapse: collapse;
}

.block-1,
.block-2 {
	height: 6.63rem;
	padding-left: 0.3rem;
	padding-right: 0.3rem;
	border-top: 0.01rem solid #f5f5f5;
}

.block-1 h3,
.block-2 h3 {
	padding-bottom: 0.35rem;
	color: #676767;
	font-size: 14px;
	font-weight: normal;
	border-bottom: .01rem solid #e2e2e2;
}

.block-main {
	width: 99%;
	height: 35%;
	margin-bottom: 0.26rem;
}

.block-main td {
	padding: 0;
}

.block-main .image {
	width: 30%;
	border: .01rem solid #e2e2e2;
	text-align: center;
	background-image: url(https://raw.githubusercontent.com/miraclezys/IFE/master/academy_weiwei/image/longmao.jpg);
	background-size: cover;
}

.block-main .article {
	padding-left: 0.26rem;
}

.block-main .article table {
	width: 100%;
	height: 100%;
} 

.block-main .article td {
	font-size: 12px;
	text-align: center;
	background-color: #e2e2e2;
} 

.block-main .article .col-1 {
	border-right: 0.01rem solid #fff;
}

.block-main .article tr:nth-of-type(1) td {
	border-bottom: 0.01rem solid #fff;
}

.block-main .article tr:nth-of-type(2) td {
	border-top: 0.01rem solid #fff;
}

.block-3 {
	box-sizing: border-box;
	width: 100%;
	height: 2.46rem;
	padding: 0.25rem;
	border-top: 0.01rem solid #f5f5f5;
}

.block-4 {
	box-sizing: border-box;
	width: 100%;
	height: 2.46rem;
	padding: 0.25rem;
	border-top: 0.01rem solid #f5f5f5;
}

.block-type-1 table {
	width: 100%;
	height: 100%;
}

.block-type-1 td:nth-of-type(1) {
	width: 30%;
	height: 100%;
	padding: 0;
}

.block-type-1 .image {
	display: inline-block;
	width: 100%;
	height: 100%;
	border: .01rem solid #f5f5f5;
	background-image: url(https://raw.githubusercontent.com/miraclezys/IFE/master/academy_weiwei/image/longmao.jpg);
	background-size: cover;
}

.block-type-1 .article {
	display: inline-block;
	height: 80%;
	padding-left: 1rem;
	text-align: top;
}

.block-type-1 h3 {
	height: 75%;
	margin: 0;
	font-size: 12px;
	color: #656565;	
}

.block-type-1 p {
	margin: 0px;
	font-size: 12px;
	color: #c5c5c5;
}

.block-5 {
	box-sizing: border-box;
	width: 100%;
	height: 30rem;
	padding: 0 1rem 1rem 1rem;
	border-top: .3rem solid #f5f5f5;
	border-bottom: 5rem solid #f5f5f5;
}

.block-5 h3 {
	margin: 0;
	font-size: 2.8rem;
	color: #656565;
}

.block-5 > div {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50%;
	margin-top: 1rem;
}

.block-5 .image {
	display: inline-flex;
	width: 31%;
	height: 100%;
	border: .3rem solid #f5f5f5;
	background-image: url(https://raw.githubusercontent.com/miraclezys/IFE/master/academy_weiwei/image/longmao.jpg);
	background-size: cover;
}

.block-5 p {
	font-size: 2.6rem;
	color: #c5c5c5;	
}
